/*Font Styles*/

.script{
  font-family: "Dancing Script", cursive;
}
body{
  font-family: "Open Sans", Arial, sans-serif;
}
h2{
  font-size: 72px;
  font-weight: normal;
}
h3{
  font-size: 64px;
  font-weight: normal;
}
h4{
	font-size: 48px;
	font-weight: normal;
}
h5{
  font-size: 36px;
  font-weight: normal;
}
h6{
  font-size: 24px;
  font-weight: normal;
}
p{
  font-size: 18px;
  font-weight: normal;
}
.leading{
margin-top: -70px;
}
.smleading{
margin-top: -45px;
}

/*Navigation*/
header{
 width: 1440px;
 height: 160px;
}
nav{
display: flex;
align-content: center;
justify-content: center;
padding-top: 25px;
padding-bottom: 25px;
margin-right: 100px;
margin-left: 100px;
}
.menu{
display: flex;
align-content: flex-end;
justify-content: center;
visibility: hidden;

}

.navset{
  margin-top: 35px;
  margin-bottom: 25px;
  margin-left: 30px;
  text-align: center;

}
.logo{
display: flex;
align-content: center;
justify-content: flex-start;
margin-right: 190px;
}

.images{
width: 100%;
max-width: 147.2px;
height: 75%;
	}
	/*main*/
.icons{
  margin: 0px 15px;
}
/*First Section*/
#herogrid{
	display: grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: 1;
	grid-template-areas:
		"texthero skillshero";
}
.herobackground{
	width: 1440px;
    background-color: rgba(207, 208, 211, 0.5);
    flex-direction: row;
}
#texthero{

}

#skillshero{

}

/*Other Section*/
#studygrid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas:
	  "packitimg packittext"
	  "edtext edimg"
	  "pettext petimg";
  height: 1670px;
  width: 1260px;
}
.shortbutton{
  width: 150px;
  height: 55px;
  border-radius: 30px;
  background-color: #e5e5e5;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
  margin: 20px 0px;
}
.darkshortbutton{
  width: 150px;
  height: 55px;
  border-radius: 30px;
  background-color: #58585d;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
  margin: 20px 0px;
}
.shortbuttontext{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}
.darkshortbuttontext{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.gimg{
 display: flex;

}
.gtext{
display: flex;
align-content: flex-start;
justify-content: center;
flex-direction: column;
}

/*footer*/
footer{
	width: 1440px;
	height: 100px;
	margin-left: 100px;
	margin-right: 100px;
}
.footerrule{
  display: flex;
  justify-content: center;
  margin: 15px 100px 0px 100px;
  width: 1030px;
  color: #B8BAC0;
  border: 1.5px solid #B8BAC0;
  border-radius: 100px;
}
.copyright{
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  width: 500px;
  height: 40px;
  margin-left: 20px;
  margin-right: 50px;
}
	.footericons{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 210px;

}

@media screen and (max-width:375px){
	/*Navigation*/
  header{
    height: 126px;
  }
  nav{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 375px;
    height: 176px;
  }
  .menu{
   display: flex;
   align-content: flex-end;
   justify-content: center;
   visibility: visible;
   margin-right: 840px;
   margin-top: 12px;
  }
  .navset{
    visibility: hidden;
  }
  .logo{
    display: flex;
    align-content: center;
    justify-content: flex-start;
  }
  .images{
      width: 100%;
      max-width: 101px;
      height: 75%;
  }
  p{
   font-size: 14px;
   font-weight: normal;
  }
}
