/*Font Styles*/

.script{
  font-family: "Dancing Script", cursive;
}
body{
  font-family: "Open Sans", Arial, sans-serif;
}
h2{
  font-size: 72px;
  font-weight: normal;
}
h3{
  font-size: 64px;
  font-weight: normal;
}
h4{
	font-size: 48px;
	font-weight: normal;
}
h5{
  font-size: 36px;
  font-weight: normal;
}
h6{
  font-size: 24px;
  font-weight: normal;
}
p{
  font-size: 18px;
  font-weight: normal;
}
.leading{
margin-top: -70px;
}
.smleading{
margin-top: -45px;
}

/*Navigation*/
header{

}
nav{
display: flex;
justify-content: flex-start;
align-content: center;
padding-top: 25px;
margin-right: 100px;
margin-left: 100px;
width: 1440px;
}
.menu{
position: absolute;
z-index: 1;
margin: 28px;
visibility: hidden;

}

.set{
  display: flex;
  align-content: flex-end;
  justify-content: flex-end;
  padding: 5px 5px 10px 35px;
  text-align: center;
  margin-top: 25px;
}
.logo{
display: flex;
align-content: flex-start;
justify-content: flex-start;
margin-right: 75px;
}

.images{
width: 147.2px;
height: 89px;
	}
	/*main*/
.icons{
  margin: 0px 15px;
}
/*First Section*/
.herobackground{
	width: 100%;
    background-color: rgba(207, 208, 211, 0.5);
    flex-direction: row;
	padding-top: 10px;
	padding-bottom: 40px;
}
#texthero{
text-align: left;
padding: 0px 850px 0px 150px;
}

/*Other Section*/
#studygrid{
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 33% 33% 33%;
  grid-template-areas:
	  "packitimg packittext"
	  "edtext edimg"
	  "pettext petimg";
  height: 1670px;
  width: 1260px;
  padding: 56px 100px;
}
#packitimg{
	display: flex;
	justify-content: flex-start;
	align-content: flex-end;
	margin-right: 20px;
	padding-top: 50px;
}
#packittext{
	display: flex;
	justify-content: flex-start;
	align-content: flex-end;
	margin-left: 20px;
	padding-right: 50px;
}
#edimg{
	display: flex;
	justify-content: center;
	align-content: flex-end;
	padding-top: 35px;
}
#edtext{
	display: flex;
	justify-content: flex-start;
	align-content: flex-start;
}
#petimg{
	display: flex;
	justify-content: flex-start;
	align-content: flex-end;
	margin-right: 10px;
	padding-top: 50px;
}
#pettext{
	display: flex;
	justify-content: flex-start;
	align-content: flex-end;
	margin-left: 20px;
	padding-right: 60px;
}
.shortbutton{
  width: 150px;
  height: 55px;
  border-radius: 30px;
  background-color: #e5e5e5;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
  margin: 20px 0px;
}
.darkshortbutton{
  width: 150px;
  height: 55px;
  border-radius: 30px;
  background-color: #58585d;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.25);
  margin: 20px 0px;
}
.shortbuttontext{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
  text-align: center;
}
.darkshortbuttontext{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  text-align: center;
}
.gimg{
 display: flex;

}
.gtext{
display: flex;
align-content: flex-start;
justify-content: center;
flex-direction: column;
}

/*footer*/
footer{
	width: 1440px;
	height: 100px;
	margin-left: 100px;
	margin-right: 100px;
}
.footerrule{
  display: flex;
  justify-content: center;
  margin: 15px 100px 0px 100px;
  width: 1030px;
  color: #B8BAC0;
  border: 1.5px solid #B8BAC0;
  border-radius: 100px;
}
.copyright{
  display: flex;
  align-content: flex-start;
  justify-content: flex-start;
  width: 500px;
  height: 40px;
  margin-left: 20px;
  margin-right: 50px;
}
	.footericons{
  display: flex;
  justify-content: flex-end;
  align-content: center;
  margin-right: 210px;

}

@media screen and (max-width:375px){
	/*Navigation*/

  nav{
    display: flex;
    align-content: center;
    justify-content: center;
	height: 126px;
    width: 375px;
  }
  .menu{
   position: absolute;
   z-index: 1;
   padding: 12px 25px;
   border: solid 1px red;
   visibility: visible;
   margin-top: 35px;
   margin-left: 3px;
  }
  .set{
    visibility: hidden;
  }
  .logo{
    position: absolute;
	z-index: 1;
	left: 2%;
	padding: 40px 10px 10px 25px;
    border: solid 1px red;
  }
  .images{
     width: 101px;
	 height: 62px;
  }
/*footer stuffs*/
  footer{
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
	width: 375px;
}
.footerrule{
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  width: 235px;
  margin-top: 15px;
  margin-bottom: 20px;
  margin-left: 80px;
  color: #B8BAC0;
}
.copyright{
  display: flex;
  align-content: center;
  justify-content: center;
  width: 235px;
  height: 40px;
  margin-top: -40px;
  margin-left: -20px;
  text-align: center;
}
	h6{
	font-size: 18px;
	}
	.footericons{
  display: flex;
  justify-content: center;
  align-content: flex-end;
  margin-right: 210px;
  padding-top: 75px;

}
}
