@media (max-width: 2000px){
}
@media (max-width: 600px){
	p{font-size: 14px;
	}
}

.script{
  font-family: "Dancing Script", cursive;
}
body{
  font-family: "Open Sans", Arial, sans-serif;
}
h2{
  font-size: 72px;
  font-weight: normal;
}
h3{
  font-size: 64px;
  font-weight: normal;
}
h4{
font-size: 48px;
font-weight: normal;
}
h5{
  font-size: 36px;
  font-weight: normal;
}
h6{
  font-size: 24px;
  font-weight: normal;
}
p{
  font-size: 18px;
  font-weight: normal;
}



